body {
	background-image: linear-gradient(white, #3eb812);
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: "Poppins", sans-serif;
	margin: 0;
	height: 100vh;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: auto;
}
h1 {
	color: white;
}
#description {
	text-align: center;
	color: white;
}
#survey-form {
	border: 1px solid gray;
	border-radius: 10px;
	background-color: white;
	padding: 25px;
	display: flex;
	width: 40vw;
	flex-direction: column;
	font-size: medium;
}

input[type="text"],
input[type="email"],
#dropdown {
	border-radius: 5px;
	border: 1px solid #848484;
	outline: 0;
	height: 20px;
	width: 300px;
	padding: 1px;
}
input[type="text"]:focus,
input[type="email"]:focus {
	width: 345px;
	height: 25px;
}
.box {
	border: 1px solid gray;
	border-radius: 8px;
	margin: 5px 0 10px 0;
	padding: 9px;
	height: 15vh;
}
textarea {
	padding: 5px;
}
@media only screen and (max-width: 400px) {
	#survey-form {
		width: 70vw;
	}
	.box {
		width: 67vw;
	}
	input[type="text"],
	input[type="email"],
	#dropdown {
		width: 180px;
	}
}
