* {
	box-sizing: border-box;
}
body {
	background-image: linear-gradient(white, #3eb812);
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: "Poppins", sans-serif;
	margin: 0;
	height: 100vh;
}
main {
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr 1fr;
	height: 100%;
	min-width: 100%;
}
#logo {
	display: inline-flex;
	margin-left: auto;
	height: 95%;
}
nav {
	background-color: #c64756;
	padding: 6px;
	height: 4vh;
	margin-bottom: 2rem;
}
nav #name {
	color: white;
	text-align: right;
	padding: 10px;
	font-family: "Poppins", sans-serif;
	font-size: 1.3rem;
}
nav ul {
	margin: 0 30px 0 0;
	padding: 0;
	list-style: none;
	position: relative;
	float: right;
	background: #eee;
	border-bottom: 1px solid #fff;
	border-radius: 3px;
}

nav li {
	float: left;
}

nav #login {
	border-right: 1px solid #ddd;
	box-shadow: 1px 0 0 #fff;
}

nav #login-trigger,
nav #signup a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	padding: 0 8px;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

nav #signup a {
	border-radius: 0 3px 3px 0;
}

nav #login-trigger {
	border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
	background: #fff;
}

nav #login-content {
	display: none;
	position: absolute;
	top: 24px;
	margin-right: 3rem;
	z-index: 999;
	background: #fff;
	background-image: linear-gradient(top, #fff, #eee);
	padding: 15px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
	border-radius: 3px 0 3px 3px;
}

nav li #login-content {
	right: 0;
	width: 250px;
}

#inputs input {
	background: #f1f1f1;
	padding: 6px 5px;
	margin: 0 0 5px 0;
	width: 90%;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
	background-color: #fff;
	border-color: #e8c291;
	outline: none;
	box-shadow: 0 0 0 1px #e8c291 inset;
}

#login #actions {
	margin: 10px 0 0 0;
}

#login #submit {
	background-color: #d14545;
	background-image: linear-gradient(top, #e97171, #d14545);
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border: 1px solid #7e1515;
	float: left;
	height: 30px;
	padding: 0;
	width: 100px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #fff;
}

#login #submit:hover,
#login #submit:focus {
	background-color: #e97171;
	background-image: linear-gradient(top, #d14545, #e97171);
}

#login #submit:active {
	outline: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#login label {
	float: right;
	line-height: 30px;
}

#login label input {
	position: relative;
	top: 2px;
	right: 2px;
}
#container {
	min-width: 35%;
	margin: 10px;
	height: max-content;
}
#leavesTop {
	background-color: black;
	color: gray;
	text-align: center;
	font-size: 2rem;
	margin: 0;
	padding: 5px;
	min-width: 100%;
}
form {
	display: flex;
	min-width: 28%;
	margin: auto;
	flex-flow: column;
}
form input,
form button {
	padding: 0.5rem;
	font-size: 1.25rem;
	border: none;
}
form input {
	margin-bottom: 3%;
}
form button {
	cursor: pointer;
	transition: all 0.3s ease;
	width: 8rem;
	color: #3eb812;
	border-radius: 5px;
	align-self: flex-end;
	display: flex;
	justify-content: space-between;
}
@media (min-width: 700px) {
	form button:hover {
		box-shadow: 0 4px 3px 0 white, 0 6px 10px 0 white;
		color: white;
	}

	#container {
		margin: 5% auto;
	}
}

#leaves {
	display: flex;
	flex-direction: column;
	grid-template-rows: repeat(auto-fit, 1fr);
	min-width: 30%;
}

.leafCont {
	min-width: 100%;
	height: 30px;
	line-height: 1.25;
	background-color: gold;
	margin: 0;
	padding: 7px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.extendLeaf {
	height: max-content;
	overflow: visible;
	z-index: 2;
	position: fixed;
	min-width: 35%;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}
.leafCont:hover {
	outline: white solid 3px;
}
.leafCont button {
	border: none;
	background-color: transparent;
}

.leafCont button:hover {
	color: white;
}
button i {
	pointer-events: none;
}
